/node_modules
/storage/*.key
/vendor
.env
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
_ide_helper.php
.nuxt
public/_nuxt
public/.htaccess

#docker
docker/misc/data
docker/sessions/*

.vscode